[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mTresk
[access "refs/for/refs/*"]
	read = group user/mTresk
	push = group user/mTresk
	label-Code-Review = -2..+2 group user/mTresk
	label-Verified = -1..+1 group user/mTresk
	rebase = group user/mTresk
	removeReviewer = group user/mTresk
	submit = group user/mTresk
[access "refs/heads/*"]
	read = group user/mTresk
	create = group user/mTresk
	push = +force group user/mTresk
	pushMerge = group user/mTresk
[access "refs/tags/*"]
	push = group user/mTresk
	push = +force group user/mTresk
